h1 {
	padding: 20px;
}

h4 {
	padding-bottom: 30px;
}

h6 {
	display: inline;
	padding-right: 10px;
}

a.btn.btn-secondary {
	margin: 5px;
}

.card {
	margin-top: 20px;
	margin-bottom: 20px;
}

.container {
	width: 700px;
	padding: 20px 50px 20px 50px;
}

#done {
	border: green solid 1px;
}

#not_done {
	border: red solid 1px;
}